body{
    background-color: burlywood;
}
nav{
    background-color: bisque;
}
.navi li{
    display:inline;
    text-decoration: none;
}
li a{
    padding: 18px 20px;
    text-align: center;
}
.image li{
    display: inline;
}
.anima{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
footer{
    background-color: brown;
    text-align: center;
}